body{
	background-color: rgb(233, 221, 221);
}
.header {
    position: relative;
    color: #5e5252;
    padding-bottom: 5px;
    font-size: 25px;
    padding-left: 3%;
    padding-top: 10%;
}

.holdingcontainer {
    max-width: 1500px;
    display: flex;
    background: transparent;
    box-sizing: border-box;
    flex-direction: row;
    margin: auto;
    letter-spacing: 0.5px;
}
.dropdown {
	position: relative;
	width: 550px;
  }
   .dropdown select {
	float: left;
	font-size: 16px;
	color: rgb(34, 21, 21);
	text-align: center;
	padding: 14px 18px;
	text-decoration: none;
	background-color: rgb(233, 211, 218);
  }
.container
{
	width:1250px;
	margin:70px auto 0;
	padding-left:200px;
	
	
}
.container .box
{
	position:relative;
	width: 350px;
	height: 350px;
	background:  rgba(255, 255, 255, 0.8);
	margin:30px;
	box-sizing:border-box;
	display:inline-block;
    transition: transform .2s;
    border: 2px solid #f2f2f2;
}
.container .box .imgBox 
{
	position: relative;
	overflow:hidden;
}
.container .box .imgBox img
{
	width: 350px;
	height: 346px;
	transition: transform 4s;
}
.container .box:hover
{
    transform: scale(1.3);
    
}

.container .box .details
{
	position: absolute;
	top: 100px;
	left: 10px;
	bottom: 100px;
	right:10px;
	background: rgba(203, 210, 243, 0.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.container .box .details .content
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
}
.container .box:hover .details
{
	transform: scaleY(1);
    
}


.container .box .details .content p
{
	margin:10px 0 0;
	padding:0;
    color: #0c0c0e;
}


/* Hover on Parent Container */
    

